body {
    margin: 0;
    padding: 0;
  }
  
  .content {
    height: 150vh; /* Пример высоты контента, чтобы было что прокручивать */
    background-image: url('your-background-image.jpg'); /* Замените на путь к вашему изображению */
    background-size: cover;
    background-attachment: fixed;
  }





.logo{
    width: 50px;
}

.registration{
    margin-left: 1000px;
}


.carousel{
   width: 800px;
   margin: auto;
}


.map{
    display: flex;
  align-items: end;
}